<div class="section">
  <div class="section__title">Daftar Produk</div>

  <div class="products-wrapper">
    @for(product of products; track product.id) {
      <div class="product">
        <div class="product__name">{{ product.name }}</div>
        <div class="product__price">{{ product.price | currency:'Rp':'symbol':'1.0-0' }}</div>

        <div class="product__action">
          <button 
            class="product__action__buy"
            (click)="addToCart(product)"
            [disabled]="!product.available"
            [ngClass]="{'product__action__buy--disabled': !product.available}"
            >Add to Cart
          </button>
        </div>
      </div>
    } @empty {
      <div>No products</div>
    }
  </div>
</div>